/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 7)
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);

}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

a{
  font-family: outfit-c;
  text-decoration: none;
}

/* Will change*/
.content, .hero, .main-header, .gallery > * {
  will-change: transform;
}

body{
  background-image: url(../../media/image/bg.jpg);
  background-size: 50px;
  color: #fafafa;
  font-family: raleway-c;
  overflow-x: hidden;
}

.hero{
  width: calc(var(--index) * 36);
  position: absolute;
  inset: 8vh 0 0 37vw;
  z-index: -1;
}

.main-header{
  height: 100vh;
}

.container{
  padding: 0 7vw;
}

.main-title{
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: min-content;
  bottom: 12vh;
  line-height: .9;
}

.gallery{
  display: flex;
  padding: calc(var(--index) * 8) 0;

}

.gallery > *{
 flex: 1;
 display: flex;
 align-items: center;
 flex-direction: column;
 margin-bottom: auto;
 margin-bottom: calc(var(--index) * 10);
}

.gallery__item{
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-width: 180vh;
  border-radius: 8px;
}

.gallery__left{
  margin-top: calc(var(--gallery-gap) * 1.75);
  margin-right: calc(var(--gallery-gap) * 0.15);
}

.gallery__left img{
  width: 800px;
}

.gallery__right img{
  width: 400px;
}

.gallery__right .gallery__item{
  margin: 0;
  margin-top: var(--gallery-gap);
}

.text-block{
  color: var(--color-text);
  position: relative;
}

.text-block__h{
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__p{
  line-height: 1.75;
  color: #fff;
}



.learn-more {
  display: flex;
  position: relative;
  width: 200px;
  font-family: "Roboto" sans-serif;
  inset: 30px 0 0 0;
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  color: #000;
  background-color: #94de1d;
  border-radius: 25px 0 25px 25px;
  transition: all 1.5s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.learn-more:hover {
  background-color: #9dff00;
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.4); 
}
